
@import url('http://fonts.cdnfonts.com/css/sernest');
@import url('http://fonts.cdnfonts.com/css/pwbubbles');

*{

  box-sizing: border-box;

}

.flash {

  position:initial;
  display: flex;
  align-items: center;
  font-size: 100px;
  font-family: 'PWBubbles', sans-serif;
  animation: blink 3s linear infinite;
  background-color: #efec06;
  background-image: linear-gradient(to right, #d9d615, #d26b04, #be1717);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}

@keyframes blink {

  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100%{
    opacity: 1;
  }

}

body{

  cursor: url('Images/iconmonstr-pencil-7.svg'), auto;
  background-color: #f5f5f5;
  font-family: 'PWBubbles', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

}

.background-image {

  background-image: url('Key Art\\April2020_KeyArtCorn_logo_JPG_1280x720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

canvas{

  background-color: white;
  border: 2px inset #06113c;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.5);
  border-radius: 20px;
  cursor: url('Images/iconmonstr-paintbrush-3.svg'), auto;
  

}

.toolbox{

  background-color: #b1d0e0;
  border: 2px inset #15309c;
  display: flex;
  width: 804px;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 12px;

}

.toolbox > * {

  background-color: #fff;
  border: 2px inset #15309c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 50px;

}

.toolbox > *:last-child{

  margin-left: auto;

}

#clear {

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 70px;
  height: 50px;
  padding: 1rem;
  border-radius: 20px;

}

#clear:hover {
  background-color: #A7BBC7;
}

.img_clean {

  height: 40px;
  width: 50px;

}

#fill {

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 55px;
  padding: 1rem;
  border-radius: 20px;

}

.img_fill {

  height: 35px;
  width: 35px;

}

#fill:hover {
  background-color: #A7BBC7;
}

#increase{

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 50px;
  padding: 1rem;
  border-radius: 50px;

}

#increase:hover {
  background-color: #A7BBC7;
}

.plus {

  height: 40px;

}

#decrease{

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 50px;
  padding: 1rem;
  border-radius: 50px;

}

#decrease:hover {
  background-color: #A7BBC7;
}

.minus {

  height: 40px;

}

#size{

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 70px;
  padding: 1rem;
  border-radius: 20px;
  font-family: 'Sernest', sans-serif;
  font-size: xx-large;

}

#save {

  background-color: #fff;
  border: 2px inset #099ce5;
  display: flex;
  width: 70px;
  padding: 1rem;
  border-radius: 20px;
  font-family: 'Sernest',
  sans-serif;
  font-size: xx-large;
  text-align: center;

}

#save:hover {
  background-color: #A7BBC7;
}

.img_save {
  height: 40px;
}
